<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="34699b96-cd2b-44e9-8308-d9dfc5d928a4"
            Publisher="CN=Yann"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Yna.Samples3D.Windows8</DisplayName>
    <PublisherDisplayName>Yann</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Yna.Samples3D.Windows8</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Yna.Samples3D.Windows8.App">
        <VisualElements
            DisplayName="Yna.Samples3D.Windows8"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Yna.Samples3D.Windows8"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>