<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="ca029a77-3316-44eb-b6ac-177b149eb697"
            Publisher="CN=Yannick"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Yna.MetroSamples</DisplayName>
    <PublisherDisplayName>Yannick</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Yna.MetroSamples</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Yna.MetroSamples.App">
        <VisualElements
            DisplayName="Yna.MetroSamples"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Yna.MetroSamples"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>